.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: visibility 0.5s linear, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.modal__container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  padding: 28px 28px 36px;
  font-family: "Cabinet Grotesk Bold", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
}

.modal__close-button {
  background-image: url(../../assets/CloseButton.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  align-self: center;
  position: absolute;
  top: 20px;
  right: 28px;
  height: 20px;
  width: 20px;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
}

.modal__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  margin: 0;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  margin: 8px 0 24px;
  padding: 0;
  max-width: 440px;
  width: 100%;
}

.modal__input-error {
  /*IMPLEMENT LATER*/
}

.modal__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.modal__input_type_error {
  /*IMPLEMENT LATER
  border-bottom: 1px solid #ff4d00;*/
}

.modal__input-error {
  color: #ff4d00;
  margin: 0;
  opacity: 0;
  border-bottom: 1px solid #ff4d00;
}

.modal__input-error_active {
  /*IMPLEMENT LATER
  opacity: 1;
  margin: ;*/
}

.modal__legend {
  margin: 0 0 12px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__label-radio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
  opacity: 50%;
}

.modal__label-radio:has(.modal__radio-input:checked) {
  opacity: 1;
  color: black;
}

.modal__radio-input {
  margin: 0;
  opacity: 50%;
  width: 16px;
  height: 16px;
}

.modal__radio-input:focus {
  opacity: 1;
  accent-color: #000;
}

.modal__submit-button {
  background-color: #000;
  color: #fff;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  margin: 32px 0 0;
}

.modal__submit-button:hover {
  opacity: 60%;
}

.modal__submit-button:disabled {
  opacity: 30%;
}

@media screen and (max-width: 627px) {
  .modal__container {
    border-radius: 10px;
    overflow: hidden;
    padding: 32px 16px;
    font-size: 16px;
    max-width: 375px;
  }

  .modal__close-button {
    background-image: url(../../assets/CloseButtonBlack.png);
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 20px;
  }

  .modal__input {
    max-width: 343px;
  }

  .modal__submit-button {
    height: 44px;
    margin: 30px 0 0;
    width: 100%;
  }
}
