.card {
  position: relative;
  width: 323px;
  height: 323px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card__title-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  margin: 16px auto 0;
}

.card__like {
  width: 20px;
  height: 20px;
  padding: 0;
  align-self: center;
  background-image: url(../assets/LikeButton.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.card__liked {
  width: 20px;
  height: 20px;
  padding: 0;
  align-self: center;
  background-image: url(../assets/LikedButton.png);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.card__name {
  top: 15px;
  margin: 0;
  background-color: #fff;
  font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 2px 12px;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

@media screen and (max-width: 627px) {
  .card {
    width: 164px;
    height: 164px;
  }

  .card__name {
    top: 7px;
    font-weight: 700;
  }

  .card__image {
    border-radius: 15px;
  }
}
