.main {
  margin: 0;
  padding: 0;
}

.cards {
  margin: 40px 0 85px;
  padding: 0;
}

.cards__text {
  font-family: "Cabinet Grotesk Bold";
  font-size: 20px;
  line-height: 1;
  margin: 0 0 34px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.cards__randomize-btn {
  visibility: hidden;
}

.cards__randomize-icon {
  visibility: hidden;
}

@media screen and (max-width: 627px) {
  .cards {
    margin: 20px 0 83px;
    padding: 0;
  }

  .cards__text {
    font-family: "Cabinet Grotesk Bold";
    font-size: 20px;
    line-height: 1;
    margin: 0 0 34px;
  }

  .cards__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 21px;
  }

  .cards__randomize-btn {
    visibility: visible;
    width: 100%;
    background-color: #000;
    font-family: "Cabinet Grotesk Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 12px 0;
    border-radius: 4px;
    margin: 20px 0 0;
  }

  .cards__randomize-icon {
    margin-right: 8px;
  }
}
